{% extends 'base.html' %} 
{% block content %}

<div class="h-screen bg-amber-100 flex justify-center items-center space-x-20">
    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-xl text-sm px-6 py-4 text-center leading-5 hover:cursor-pointer">
    <a href="{% url 'register' %}">Register</a>
  </button>

  <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-xl text-sm px-6 py-4 text-center leading-5 hover:cursor-pointer">
    <a href="{% url 'login' %}">Log in</a>
  </button>
</div>

{% endblock content %}
