{% extends 'base.html' %}

{% block content %}
<style>
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: #6366f1;
}
</style>

<div class="flex flex-col justify-center">
    <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-4">
        <div class="text-center mb-5">
            <h1 class="text-3xl font-bold">Enter new password</h1>
            <p class="text-gray-600 text-center mb-6">
            Please enter your new password twice so we can verify you typed it correctly.</p>
        </div>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-6">
                <div>
                    <label class="text-slate-900 text-sm font-medium mb-2 block">New Password</label>
                     {{ form.new_password1 }}
                    
                </div>
                <div>
                     <label class="block text-gray-700 font-semibold">Confirm Password</label>
                     {{ form.new_password2 }}
                </div>
            </div>
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition">
                Reset Password
            </button>
        </form>
    </div>
</div>

{% endblock content %}